#detail-card-container {
  margin: 20px auto 0;
  border-radius: 3px;
  border: gold 5px solid;
  width: 50rem;
  padding: 0;
}

@media screen and (max-width: 676px) {
  #detail-card-container {
    width: 60%;
  }
  #card-info ul {
    padding-left: 0;
  }
}

@media screen and (max-width: 576px) {
  #detail-card-container {
    width: 80%;
  }

  #detail-card-img img {
    width: 8rem;
    height: 10rem;
  }
}

#detail-card-img {
  background-image: url("images/cielo-estrellado.jpg");
  /* padding: 10px 30px; */
}

#detail-card-img img {
  width: 16rem;
  height: 100%;
}

.card-title {
  text-align: center;
  margin: 10px 0;
}

#card-info {
  border-left: solid rgb(179, 153, 7) 5px;
  background-color: #1d1e1f;
}

#card-info ul li {
  list-style: none;
}

#card-info ul {
  padding: 1rem;
}

/* loading view */

#load-container {
  margin: 150px auto;
}

#load-container img {
  border: solid white 2px;
  height: 80px;
  width: 80px;
  margin-right: 20px;
  border-radius: 100%;
}

.type-detail {
  margin: 20px auto 0;
  border: solid #9ca0a2 1px;
  color: #ffe607;
  border-left: none;
  border-right: none;
  width: 100%;
  max-width: 250px;
}