#detail-card-container {
  border: gold 2px solid;
  width: 42rem;
  height: 18rem;
  padding: 0;
}

#detail-card-img {
  background-color: black;
}

#detail-card-img img {
  width: 13rem;
  border-radius: 100%;
}

.card-title {
  text-align: center;
  margin: 20px 0;
}

/* loading view */

#load-container {
  margin: 150px auto;
}

#load-container img {
  height: 70px;
  width: 75px;
  margin-right: 20px;
  border-radius: 100%;
}

