.footer-container {
  background: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
}

.text-social-medias div * {
  padding: 2px 0;
  margin: 0 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.text-social-medias div *:hover {
  color: #454647;
  transition: all ease-in 0.3s;
}

.terms-conditions {
  margin: 60px 0 0;
}


@media screen and (max-width: 786px) {
  .items {
    display: flex;
    flex-direction: column;
  }

  .items small {
    margin: 2px 0;
    border-width: 0;
  }

  .items span {
    display: none;
  }
}

.terms-conditions-items div small {
  border: solid #454647;
  border-width: 0 0 2px 0;
  cursor: pointer;
}

.terms-conditions-items div small:hover {
  border: solid #757677;
  border-width: 0 0 2px 0;
}

.terms-conditions-items .col-sm-12 {
  margin: 0;
}