#general-card {
  margin: 20px auto;
  background: #1d1e1f;
  color: white;
}

@media screen and (max-width: 545px) {
  
}

#general-card .card-body {
  text-align: center;
  margin: 0 0 10px;
}

#general-card .card-body * {
  margin: 5px 0;
}

#line {
  border: solid 1px;
  border-radius: 100%;
  width: 30px;
}

.btn-primary {
  border: none;
  background-color: #ead517;
  color: #1d1e1f;
}

.btn-primary:hover {
  background-color: #afa015;
  color: #464849;
}


.btn-primary:focus {
  border: none;
}