#home-container {
  border: solid red 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-container .container {
  margin: auto;
  text-align: center;
}

.type-title {
  text-align: center;
  margin: 40px 0;
}

/* top Nav */

#logo-nav {
  height: 100px;
  width: 230px;
}

.left,
.right {
  padding: 10px;
}

.left .bx,
.right .bx {
  font-size: 1.5rem;
  margin: 5px 10px;
  cursor: pointer;
}

#login {
  margin: 4px 0;
  font-size: 1.2rem;
}

#nav-logo {
  text-decoration: none;
  color: white;
}

.display {
  display: none;
}

/* buttom nav */

#nav-items {
  margin: 0 auto;
  padding: 0 10px;
}

#nav-items .nav-item {
  font-size: 1.1rem;
  margin: 0 5px;
  border-bottom: 3px solid transparent;
}

#nav-items .nav-item:hover {
  border-bottom: 3px solid #ffe81f;
}

#nav-items .nav-item #link {
  color: white;
}
#nav-items .nav-item #link:hover {
  color: rgb(197, 197, 197);
}

#navbarSupportedContent {
  margin: 20px 0 0;
  border: 1px solid gray;
  border-left: none;
  border-top: none;
  border-right: none;
}

.navbar-expand-lg {
  padding: 0;
}

.navbar-expand-lg .container-fluid {
  padding: 20px 0 0;
  margin: 0;
  background-image: url("images/cielo-estrellado.jpg");
  color: white;
}
