#home-container {
  border: solid red 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-container .container {
  margin: auto;
  text-align: center;
}

.type {
  margin: 20px auto 0;
  border: solid #afa015 1px;
  border-left: none;
  border-right: none;
  width: 100%;
  max-width: 250px;
}

.type-title {
  text-align: center;
  margin: 10px 0;
}
