.sign-container {
  border-radius: 3px;
  border: 1px solid gold;
  padding: 40px 0;
  width: 100%;
  max-width: 300px;
  display: flex;
  margin: 40px auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#forms {
  width: 250px;
}

#forms #username,
#forgot {
  margin-bottom: 10px;
}

#username,
#password {
  background: transparent;
  color: white;
  width: 100%;
  padding: 5px;
  border: 1px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
}

#username::placeholder,
#password::placeholder {
  font-size: 15px;
  color: rgb(156, 151, 151);
}

#username:focus-visible,
#password:focus-visible {
  outline: none;
}

#form-button {
  margin: 20px 0;
  width: 100%;
  border-radius: 2%;
  border: solid 1px gray;
  padding: 5px 10px;
  background-color: gold;
}

.sign-footer {
  margin: 10px 0;
}

.sign-footer i {
  font-size: 1.8rem;
  margin: 2px 5px;
}

#search-input input {
  height: 40%;
}
#forgot-password-link {
  text-decoration: none;
  color: white;
}